@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.header {
  display: flex;
  position: fixed;
  top: 0;
  padding: 10px;
  background: #F2A11A;
  background-attachment: fixed;
  color: white;
  width: 100%;
  height: 80px;
  box-shadow: 0 3px 2px -2px black;
  z-index: 90;
}

#title {
  color: white;
  z-index: 100;
  font-size: 40px;
  font-family: 'Special Elite', cursive;
}
.nav-item {
  color: white;
  font-family: 'Special Elite', cursive;
}

.nav-item:hover {
  color: black;
}

.nav-link:active {
  color: #e89d76;
}

.avatar {
  position: relative;
  top: -18%;
  width: 40px;
  border-radius: 50%;
}
