@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.header {
  display: flex;
  padding: 10px;
  justify-content: center;
  background: #FFDB82;
  color: white;
  width: 100%;
}

.title {
  font-size: 40px;
  font-family: 'Special Elite', cursive;
}
.nav-item {
  color: white;
  font-family: 'Special Elite', cursive;
}

.nav-item:hover {
  color: #e89d76;
}

.nav-link:active {
  color: #e89d76;
}

.avatar {
  position: relative;
  top: -18%;
  width: 40px;
  border-radius: 50%;
}
