#intro {
  width: 40%;
  padding: 2em;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  font-family: 'Quattrocento', serif;
  font-family: 'Unna', serif;
  background-color: white;
}

.session-links > a {
  width: 20%;
  margin: auto;
  justify-content: center;
  text-align: center;
  color: #4B6250;
  font-size: 1.3em;
  font-family: 'Quattrocento', serif;
  font-family: 'Unna', serif;
}

.session-links > a:hover {
  color: black;
}

.statement-text {
  margin-top: 2%;
  margin-bottom: 5%;
  color: purple;
  font-size: 20px;
  font-weight: bolder;
}
