.small-profiles-icon{
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

div > .username{
  margin-top: 2em;
  margin-bottom: 2em;
  color: purple;
  font-weight: lighter;
}

li {
  list-style-type: none;
}

.profiles-container {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  padding: 3%;
  background-color: white;
}

.results {
  margin-top: 1em;
}
