.signupForm {
  width: 60%;
  margin: auto;
  font-family: 'Quattrocento', serif;
  font-family: 'Unna', serif;
  color: #565656;
}

#loginContainter {
  width: 40%;
  padding: 2em;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center;

  line-height: 20px;
  font-family: 'Quattrocento', serif;
  font-family: 'Unna', serif;
  background-color: white;
}

.btn .styledButton {
  background-color: orange;
  color: white
}
