@import "css/header.css";
@import "css/map.css";
@import "css/finds.css";

@import url('https://fonts.googleapis.com/css?family=Quattrocento|Unna');

.button {
  background-color: #E89D76;
  border-color: #E89D76;
  color: white;
}

.button:hover {
  background-color: white;
  border-color: #E89D76;
  color: #E89D76;;
}

body {
  font-family: 'Quattrocento', serif;
  font-family: 'Unna', serif;
}
