@import "css/header.css";
@import "css/map.css";
@import "css/finds.css";
@import "css/find.css";
@import "css/signup.css";
@import "css/home.css";
@import "css/user.css";
@import "css/profiles.css";

@import url('https://fonts.googleapis.com/css?family=Quattrocento|Unna');

.button {
  background-color: #E89D76;
  border-color: #A4DCED;
  color: white;
}

.button:hover {
  background-color: white;
  border-color: #E89D76;
  color: #E89D76;;
}

.user-avatar {
  width: 100px;
  margin-right: 4%;
  border-radius: 50%;
}

body {
  font-family: 'Quattrocento', serif;
  font-family: 'Unna', serif;
  background-image: url('./images/flower.jpg');
}
